<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated diagrama -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="diagrama.presentation.diagramaModelWizardID"
            name="%_UI_diagramaModelWizard_label"
            class="diagrama.presentation.diagramaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/diagramaModelFile.gif">
         <description>%_UI_diagramaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated diagrama -->
      <editor
            id="diagrama.presentation.diagramaEditorID"
            name="%_UI_diagramaEditor_label"
            icon="icons/full/obj16/diagramaModelFile.gif"
            extensions="diagrama"
            class="diagrama.presentation.diagramaEditor"
            contributorClass="diagrama.presentation.diagramaActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated diagrama -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="diagrama.domain.presentation.DomainModelWizardID"
            name="%_UI_DomainModelWizard_label"
            class="diagrama.domain.presentation.DomainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DomainModelFile.gif">
         <description>%_UI_DomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated diagrama -->
      <editor
            id="diagrama.domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="diagrama.domain.presentation.DomainEditor"
            contributorClass="diagrama.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated diagrama -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="diagrama.ui.presentation.UiModelWizardID"
            name="%_UI_UiModelWizard_label"
            class="diagrama.ui.presentation.UiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UiModelFile.gif">
         <description>%_UI_UiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated diagrama -->
      <editor
            id="diagrama.ui.presentation.UiEditorID"
            name="%_UI_UiEditor_label"
            icon="icons/full/obj16/UiModelFile.gif"
            extensions="ui"
            class="diagrama.ui.presentation.UiEditor"
            contributorClass="diagrama.ui.presentation.UiActionBarContributor">
      </editor>
   </extension>

</plugin>
